.margin-top-20{
    margin-top: 20px !important;
}
.wq-hide{
    display: none;
}

/*
loading animation*/
header [role="progressbar"][aria-busy="true"] {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 8px;
    width: 100%;
    background-color: #159756;
    -webkit-animation: preloader-background linear 3.5s infinite;
    animation: preloader-background linear 3.5s infinite;
}
header [role="progressbar"][aria-busy="true"]::before, header [role="progressbar"][aria-busy="true"]::after {
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 0;
    height: 8px;
    background: #afa;
    -webkit-animation: preloader-front linear 3.5s infinite;
    animation: preloader-front linear 3.5s infinite;
    content: '';
}
header [role="progressbar"][aria-busy="true"]::before {
    right: 50%;
}
header [role="progressbar"][aria-busy="true"]::after {
    left: 50%;
}

@-webkit-keyframes preloader-background {
    0%, 24.9% {
        background-color: #159756;
    }
    25%, 49.9% {
        background-color: #da4733;
    }
    50%, 74.9% {
        background-color: #3b78e7;
    }
    75%, 100% {
        background-color: #fdba2c;
    }
}

@keyframes preloader-background {
    0%, 24.9% {
        background-color: #159756;
    }
    25%, 49.9% {
        background-color: #da4733;
    }
    50%, 74.9% {
        background-color: #3b78e7;
    }
    75%, 100% {
        background-color: #fdba2c;
    }
}
@-webkit-keyframes preloader-front {
    0% {
        width: 0;
        background-color: #da4733;
    }
    24.9% {
        width: 50%;
        background-color: #da4733;
    }
    25% {
        width: 0;
        background-color: #3b78e7;
    }
    49.9% {
        width: 50%;
        background-color: #3b78e7;
    }
    50% {
        width: 0;
        background-color: #fdba2c;
    }
    74.9% {
        width: 50%;
        background-color: #fdba2c;
    }
    75% {
        width: 0%;
        background-color: #159756;
    }
    100% {
        width: 50%;
        background-color: #159756;
    }
}
@keyframes preloader-front {
    0% {
        width: 0;
        background-color: #da4733;
    }
    24.9% {
        width: 50%;
        background-color: #da4733;
    }
    25% {
        width: 0;
        background-color: #3b78e7;
    }
    49.9% {
        width: 50%;
        background-color: #3b78e7;
    }
    50% {
        width: 0;
        background-color: #fdba2c;
    }
    74.9% {
        width: 50%;
        background-color: #fdba2c;
    }
    75% {
        width: 0%;
        background-color: #159756;
    }
    100% {
        width: 50%;
        background-color: #159756;
    }
}
.signup-box .card{margin-bottom: 0px !important;}
.signup-box, .login-box .card {
    max-width: 360px;
    margin: 5% auto;
}
.msg {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}
.right_sidebar aside{
    right: 0;
    left: inherit ;
}
.right_sidebar .slimScrollDiv, .right_sidebar .slimScrollDiv .list{
    height: 100% !important;
}
.margin-0{margin: 0}
.image_outer{padding: 40px; background-color: #F1F5F7}.small-font{font-size: 9px}
.white-block.product-box{
    padding: 5px;
    background-color: white;
    border: 1px solid;
    border-color: whitesmoke;
}
.white-block .white-block-border{
    padding: 2px;
    border: 1px solid;
    border-color: whitesmoke;
}
.product-data {
    padding: 20px 5px;
    min-height: 170px;
}
.frontend-content{background-color: #F1F5F7}
.col-sm-6.col-md-3.product.mobile {
    margin-bottom: 20px;
}
.shops-info-table thead tr i{
    font-size: 12px !important;
}
.filters-form .col-sm-12{margin-top: 20px;}
/*.irs-from, .irs-to, .irs-single {
    background: #2196F3;
}*/
.info-box-2{
    cursor: pointer;
}
.excel-add-form, .bulk-add-form{display: none}
.preloader.circle{
    display: none;
    position: fixed !important;
    top: 30% !important;
    bottom: 0 !important;
    left: 10% !important;
    right: 0 !important;
    margin: auto;
    z-index: 10000;
}
.select2-container--default .select2-search--inline .select2-search__field {
    width: auto !important;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
}
.add-buttons{cursor: pointer}
.info-box-icon {
    font-size: 60px;
    padding-top: 15px;
}
.text-white{color: #fff !important;}
.dt-buttons a {
    background-color: #00A65A;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
}
.margin-bottom-50{margin-bottom: 50px;}
.shop-description{min-height:180px !important;;
    padding-top: 20px !important;}
/* change font size to change size */

.loader {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: auto;
}

.dot {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.dot1, .dot2 {
    left: 0;
}

.dot3 { left: 1.5em; }

.dot4 { left: 3em; }

@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}


.dot1 {
    animation-name: reveal;
}

.dot2, .dot3 {
    animation-name: slide;
}

.dot4 {
    animation-name: reveal;
    animation-direction: reverse; /* thx @HugoGiraudel */
}
.margin-bottom-20{margin-bottom: 20px}
.white-block.product-box {
    background-color: #F1F5F7;
    border: 3px solid;
    border-color: #fff;
}
.image_outer {
    background-color: #fff;
}
.invisible{visibility: hidden}
.black{color: #333}
.profile-user-img {
    height: 100px;
}
.user-panel>.image>img {
    height: 50px;
    width: 50px !important;
}
.theme-blue .navbar {
    background-color: #00A65A;
}
.search-box {
    padding: 30px;
    background: rgb(241, 245, 247);
    border: 3px solid #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}
.margin-top-50{margin-top: 50px}
.search-box .range-slider__value {
    display: inline-block;
    position: relative;
    width: 25px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #00A65A;
    padding: 5px 3px;
    top: -10px;
    margin-left: 0px !important;
    left: 0px !important;
}
.search-box .range-slider {
    margin: 50px 0 0 0%;
    width: 98%;
}
.content-wrapper{background-color: #fff;}
.box.box-widget.widget-user {
    min-height: 300px;
}